set surround
"set mouse=a


set clipboard+=unnamed
set ideajoin
set scrolloff=0

""" Map leader to space ---------------------
let mapleader=" "



" I like using H and L for beginning/end of line
nmap H ^
nmap L $

"Highlight yank"
set highlightedyank
let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"
let g:highlightedyank_highlight_duration = 250

" Indent selected lines and keep selection"
vnoremap > >gv
vnoremap < <gv

"Escape"
inoremap jk <Esc>

set multiple-cursors

" Plugins (if you use Vundle, vim-plug, etc. with :Plug commands in IdeaVim)
" Plug 'easymotion/vim-easymotion' " Ensure this is correctly set up if used

" --- Normal Mode Mappings ---" Better window navigation"

"Select and move lines"
nnoremap J :m .+1<CR>==
nnoremap K :m .-2<CR>==

" I like using H and L for beginning/end of line (already present)
nmap H ^
nmap L $

" Buffer navigation
nnoremap <S-h> :bprevious<CR>
nnoremap <S-l> :bnext<CR>


" Window/Split navigation (Ctrl based)
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l

" Window/Split navigation (Leader based)
nnoremap <leader>v :vsplit<CR>
nnoremap <leader>s :split<CR>
nnoremap <leader>h <C-W>h
nnoremap <leader>j <C-W>j
nnoremap <leader>k <C-W>k
nnoremap <leader>l <C-W>l

" File tree
nnoremap <leader>ne :action ActivateProjectToolWindow<CR>

" File operations
nnoremap <leader>w <Action>(SaveAll)
nnoremap <leader>f <Action>(GotoFile)

" Code navigation
nnoremap gh :action QuickJavaDoc<CR> " For definition preview/hover


" --- Visual Mode Mappings ---

vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

""" AI assistant
map <leader>gi <Action>(ActivateAIAssistantToolWindow)
map <leader>ic <Action>(action.AIAssistant.ToolWindow.Chat.Message.AddContext)

""" Move between tabs with space and number
nnoremap <leader>1 :tabn 1<CR>
nnoremap <leader>2 :tabn 2<CR>
nnoremap <leader>3 :tabn 3<CR>
nnoremap <leader>4 :tabn 4<CR>
nnoremap <leader>5 :tabn 5<CR>
nnoremap <leader>6 :tabn 6<CR>
nnoremap <leader>7 :tabn 7<CR>
nnoremap <leader>8 :tabn 8<CR>
nnoremap <leader>9 :tabn 9<CR>
nnoremap <leader>0 :tabn 10<CR>

""" Search and replace
nnoremap <leader>sr :action ReplaceInPath<CR>
nnoremap <leader>ss :action FindInPath<CR>
