set surround
"set mouse=a


set clipboard+=unnamed
set ideajoin
set scrolloff=0

""" Map leader to space ---------------------
let mapleader=" "

" Search options (some don't map directly)
set hlsearch
set incsearch
set smartcase
" Indent selected lines and keep selection"
vnoremap < <gv
vnoremap > >gv

" Move text up/down in visual
vnoremap J :m .+1<CR>==
xnoremap J :move '>+1<CR>gv-gv
vnoremap K :m .-2<CR>==
xnoremap K :move '<-2<CR>gv-gv

" Insert mode: jk -> <esc>
inoremap jk <Esc>

" Normal mode: leader mappings for IDE actions (see below for how to get action IDs)
nnoremap <leader>/ :action CommentByLineComment<CR>
nnoremap <leader>h :action SelectPreviousTab<CR>
nnoremap <leader>j :action SelectNextWindow<CR>
nnoremap <leader>k :action SelectPreviousWindow<CR>
nnoremap <leader>l :action SelectNextTab<CR>
nnoremap <leader>ne :action ActivateProjectToolWindow<CR>
nnoremap <leader>w :action SaveAll<CR>
nnoremap gh :action QuickImplementations<CR>
nnoremap <leader>f :action FindInPath<CR>
nnoremap <leader>s :action GotoSymbol<CR>
nnoremap <leader>r :action Replace<CR>
nnoremap <leader>e :action ActivateProjectToolWindow<CR>
nnoremap <leader>c :action CloseContent<CR>

" Tab navigation
nnoremap H :action PreviousTab<CR>
nnoremap L :action NextTab<CR>

" Split navigation
nnoremap | :action SplitVertically<CR>
nnoremap _ :action SplitHorizontally<CR>
nnoremap Q :action CloseContent<CR>
nnoremap <Esc> :nohlsearch<CR>


"Highlight yank"
set highlightedyank
let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"
let g:highlightedyank_highlight_duration = 250



set multiple-cursors

" Plugins (if you use Vundle, vim-plug, etc. with :Plug commands in IdeaVim)
" Plug 'easymotion/vim-easymotion' " Ensure this is correctly set up if used

" --- Normal Mode Mappings ---" Better window navigation"
" Buffer navigation
